
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"  *ngIf="doesSignIn"> Sign In </h2>
    <h2 class="inactive underlineHover" (click)="signIn()" *ngIf="!doesSignIn"> Sign In </h2>
    <h2 class="active"  *ngIf="doesSignUp" >Sign Up </h2>
    <h2 class="inactive underlineHover" (click)="signUp()" *ngIf="!doesSignUp">Sign Up </h2>
    <h2 class="active"  *ngIf="doesSubmitGuest" >Submit as Guest </h2>
    <h2 class="inactive underlineHover" (click)="submitGuest()" *ngIf="!doesSubmitGuest">Submit as Guest </h2>


    <!-- Login Form -->
    <form *ngIf="doesSignIn">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="sicredentials.username">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="sicredentials.password">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="logInButton()">
    </form>

    <!--Sign Up -->
    <form *ngIf="doesSignUp">
      <input type="text" id="email" class="fadeIn second" name="Email" placeholder="doe@gmail.com" [(ngModel)]="sucredentials.username">
      <input type="password" id="password" class="fadeIn third" name="Password" placeholder="password" [(ngModel)]="sucredentials.password">
      <input type="submit" class="fadeIn fourth" value="Create Account" (click)="createAccountButton()">
    </form>

    <!--Submit as Guest -->
    <form *ngIf="doesSubmitGuest">
      <input type="text" id="email" class="fadeIn second" name="Email" placeholder="Listing Agent Email" [(ngModel)]="sgListEmail">
      <input type="text" id="email" class="fadeIn third" name="Email" placeholder="Buyer Agent Email" [(ngModel)]="sgBuyEmail">
      <input type="text" id="login" class="fadeIn fourth" name="code" placeholder="12 digit code" [(ngModel)]="sgCode">
      <input type="file" id="offer" class="fadeIn fifth" name="offer" accept="application/pdf" (change)="onFileChange($event)">
      <input type="submit" class="fadeIn sixth" value="Submit" (click)="submitGuestButton()">
    </form>



    <!-- Remind Passowrd -->
    <div id="formFooter" *ngIf="doesSignIn">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
